{{ define "main" }}
<div class="video-page" data-autoplay="true">
   <div class="video-player-container">
      <div class="player-wrapper">
         {{ partial "video-player.html" . }}
      </div>

      {{/* Botón de siguiente episodio */}}
      {{ $currentSeries := .Params.series }}
      {{ $currentEpisode := .Params.episode }}
      {{ $nextVideo := "" }}
      {{ $nextEpisodeNum := 0 }}
      {{ range where .Site.RegularPages "Params.series" $currentSeries }}
      {{ if eq .Params.episode (add $currentEpisode 1) }}
      {{ $nextVideo = .Permalink }}
      {{ $nextEpisodeNum = .Params.episode }}
      {{ end }}
      {{ end }}
      {{ if $nextVideo }}
      <div class="next-episode-btn">
         <a href="{{ $nextVideo }}">
            <span class="next-label">Siguiente</span>
            <span class="next-episode">Episodio {{ $nextEpisodeNum }}</span>
            <span class="next-arrow">▶</span>
         </a>
      </div>
      {{ end }}

      <div class="video-details">
         <h1>{{ .Parent.Title }} - {{ .Title }}</h1>
      </div>
   </div>

   {{ partial "video-sidebar.html" . }}
</div>

{{/* Pasar URL del siguiente video para autoplay */}}
{{ $currentSeries := .Params.series }}
{{ $currentEpisode := .Params.episode }}
{{ $nextVideo := "" }}
{{ range where .Site.RegularPages "Params.series" $currentSeries }}
{{ if eq .Params.episode (add $currentEpisode 1) }}
{{ $nextVideo = .Permalink }}
{{ end }}
{{ end }}
{{ if $nextVideo }}
<script>
   window.nextVideoUrl = "{{ $nextVideo }}";
</script>
{{ end }}

{{ end }}