{{ define "main" }}
<div class="container">
   <div class="series-header">
      <h1>{{ .Title }}</h1>
      <p>{{ .Content }}</p>
   </div>

   <div class="video-list">
      {{ range .Pages.ByParam "episode" }}
      <div class="video-item">
         <a href="{{ .Permalink }}">
            <div class="video-thumbnail">
               {{ if .Params.thumbnail }}
               <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" loading="lazy">
               {{ else if .Params.driveId }}
               <img src="https://drive.google.com/thumbnail?id={{ .Params.driveId }}&sz=w480" alt="{{ .Title }}"
                  loading="lazy">
               {{ else }}
               <div class="placeholder-thumbnail">
                  <span>📹</span>
               </div>
               {{ end }}
               {{ if .Params.duration }}
               <span class="duration">{{ .Params.duration }}</span>
               {{ end }}
            </div>
            <div class="video-info">
               <h3>{{ .Params.episode }}. {{ .Title }}</h3>
               <p>{{ .Params.description }}</p>
            </div>
         </a>
      </div>
      {{ end }}
   </div>
</div>
{{ end }}